@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Bruno Ace', cursive;
}

body{
    background-color: white;
}

/* Header */

.container-fluid{
    align-items: end;
}

.container-fluid h1{
    margin:0;
    padding: 0;
}

.f1-icon-m{
    display: none;
}

.nav-link{
    display: inline-block;
    position: relative;
}

.nav-link:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.nav-link:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Main */

    /* Index */

main{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.contenedor-grid{
    display: grid;
    margin: 4% 5% 2% 5%;
    grid-template-columns: 50% 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "newvid colvid1 colvid2"
    "newvid colvid1 colvid2"
    "newvid colvid1 colvid2"
    "newvid colvid1 colvid2";
}

.newvid{
    grid-area: newvid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5%;
    border-top: 8px solid black;
    border-right: 8px solid black;
    border-radius: 0 25px 0 0;
    padding: 2% 2% 0 0;
}

.colvid1{
    grid-area: colvid1;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 5px;
    justify-content: space-evenly;
}

.colvid2{
    grid-area: colvid2;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 10px;
    justify-content: space-evenly;
}

.card{
    display: grid;
    position: relative;
    align-items: stretch;
    font-size: 70%;
    background-color: white;
}

.card a{
    text-decoration: none;
    color: black;
}

.card-body h5{
    color: red;
}

.borde{
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    border-radius: 2px 2px 10px 10px;
}

.morenews h2{
    border-bottom: 5px solid black;
    padding-bottom: 10px;
    margin: 0 5% 0 5%;
}

.contmorenew{
    margin: 2% 5% 0 5%;
}

.contmorenew .card{
    border: none;
}

.carousel{
    display: none;
}

    /* Pilotos */

.contitulo{
    border-top: 5px solid black ;
    border-right: 5px solid black ;
    border-radius: 0 5px 0 0;
    margin: 2% 5% 0 5%;
    padding-top: 1%;
}

.contitulo-p{
    width: 100%;
    background-color: rgb(182, 182, 182);
    padding: 0.5%;
    text-align: center;
    border-radius: 7px;
}

.pilotos-grid{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 2%;
    margin-top: 50px;
}

.filas{
    padding: 0 10% 0 10%;
    display: flex;
    justify-content: center;
    gap: 4%;
}

.filas-4{
    padding: 0 4% 0 4%;
    display: flex;
    justify-content: center;
    gap: 2%; 
}

.pilotos{
    border-radius: 0 5px 0 0;
    border-top: 3px solid black;
    border-right: 3px solid black;
    width: 1fr;
}

.pilotos-grid hr{
    width: 95%;
    margin: 2%;
}

.cabecera-piloto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2%;
}

.cabecera-piloto div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pilotos h1{
    font-weight: bold;
    font-size: 380%;
}

.cabecera-piloto h2{
    color: black;
    font-size: 200%;
}

.cabecera-piloto h3{
    color:white; border-radius: 5px; 
    font-size: 155%;
}

.nombre-piloto{
    display: flex;
    align-items: center;
    border-left: 5px solid blue;
    justify-content: space-between;
}

.nombre-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%;
    min-width: 190px;
}

.nombre-piloto h4{
    color: rgba(0, 0, 0, 0.493);
    font-size: 100%;
}

.nombre-piloto h3{
    font-size: 130%;
    margin: 0;
}

.nombre-piloto img{
    width: 18%;
    padding-right: 2%;
}

.cara-piloto{
    display: flex;
    justify-content: space-between;
}

.piloto{
    width: 206px;
    height: 206px;
}

.piloto-texto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.equipo{
    color: rgba(0, 0, 0, 0.493);
    font-size: 100%;
    width: 150%;
}

.num-piloto{
    color: red;
    font-size: 50px;
    margin: 0; 
}

    /* Posiciones */

.posiciones{
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
}

.podium{
    display: flex;
    justify-content: center; 
    gap: 2%;  
    align-items: end;
    padding: 0 2% 0 2%;
}

.puesto2{
    width: 90%;
}

.puesto1{
    width: 100%;
}

.puesto3{
    width: 80%;
}

.podio{
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 5px 5px 20px;
}


.podio-piloto{
    border-bottom: 8px solid red;
    position: relative;
    height: 100%;
}

.podio-piloto h1{
    position: absolute;
    left: 5%;
    bottom: 70%;
    font-size: 500%;
}

.puesto2 .podio-piloto h1{    
    position: absolute;
    left: 8%;
    bottom: 52%;
}

.puesto3 .podio-piloto h1{ 
    position: absolute;
    left: 8%;
    bottom: 52%;
}

.podio-img{
    width: 100%;
}

.name-podio{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 5%;
    width: 100%;
    border-radius: 0 0 25px 25px;
}

.name-podio h3,h1{
    font-size: 170%;
}

.pais1{
    width: 22%;
}

.pais2{
    width: 22%;
}

.pais3{
    width: 22%;
}


.position-pilotos{
    margin: 2% 5% 2% 5%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.stand{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: antiquewhite;
    padding-left: 20px;
    border-radius: 20px;
}

.st-name{
    display: flex;
    justify-content: center;
    align-items: safe center;
    gap: 2%; 
    width: 80%;
}

.st-name h2{
    border-right: 3px solid red;
    padding-right: 2%;
}

.points{
    display: flex;
    align-items: center;
    padding: 8px 20px 8px 20px;
}

.points h2{
    background-color: black;
    border-radius: 20px;
    color: white;
    margin: 0;
}

.points i{
    font-size: 40px;
}

/* F1 topics */

.f1topics{
    position: relative;
}


.f1topics h2{
    background-color: white;
    position: absolute;
    top: -15px;
    left: 0;
    padding-right: 10px;
}

.f1-new-topics{
    border-top: 8px solid black;
    border-right: 8px solid black;
    border-radius: 0 20px 0 0;
    padding-top: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
}

.contmorenew .card{
    border: none;
}

.carousel{
    display: none;
}

.refs-e{
    display: inline-block;
    position: relative;
    background-image: url(../img/e-sport.jpg);
    background-repeat: none;
    background-size: 100%;
    height: 170px;
    width: 302px; 
}

.refs-s{
    display: inline-block;
    position: relative;
    background-image: url(https://media.formula1.com/image/upload/f_auto/q_auto/v1679313708/fom-website/2018-redesign-assets/Tag%20collections/Other/NetZero_Car_i4_i3_0004.jpg.transform/5col/image.jpg);
    background-repeat: none;
    background-size: 100%;
    height: 170px;
    width: 302px; 
}

.refs-p{
    display: inline-block;
    position: relative;
    background-image: url(https://media.formula1.com/image/upload/content/dam/fom-website/2018-redesign-assets/Tag%20collections/Other/Beyond%20The%20Grid%20Header%202023.png.transform/5col/image.png);
    background-repeat: none;
    background-size: 100%;
    height: 170px;
    width: 302px; 
}

.refs-c{
    display: inline-block;
    position: relative;
    background-image: url(https://media.formula1.com/image/upload/content/dam/fom-website/2018-redesign-assets/Tag%20collections/Other/Race-calendar.jpg.transform/5col/image.jpg);
    background-repeat: none;
    background-size: 100%;
    height: 170px;
    width: 302px; 
}

.f1-new-topics h3{
    text-decoration: none;
    color: white;
    position: absolute;
    top: 40%;
    left: 16%;
}

/* Videos */

.video-head{
    background-color: black;
    padding-top: 10px;
}

.video-head h1{
    color: white;
    padding: 2%;
}
.st-v{
    position: relative;
    border-top: 8px solid red;
    border-right: 8px solid red;
    border-bottom: 8px solid red;
    border-radius: 0 20px 20px 0;
    padding: 2% 2% 2% 0;
    margin: 5%;
}
.start-v{
    display: flex; 
    gap: 2%;
    height: 500px;
    width: 100%; 
}


.st-v h2{
    position: absolute;
    top: -5%;
    left: 0%;
    color: white;
    background-color: black;
    padding-right: 10px;
}

.vid-start{
    border: 2px 2px 2px 0 solid grey;

}

.vid-start-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px 2px 2px 0 solid grey;
}

.video-head h2{
    color: white;
    position: relative;
    left: 2%;
}

.vid-features{
    padding:  5%;
}

.highlights{
    padding-top: 2%;
    background-color: rgb(241, 241, 241);
}

.highlights h2{
    position: relative;
    left: 2%;
}

.cont-high{
    padding: 2%;
    margin: 0 2% 0 2%;
    border-top: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card-high{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: stretch;
    font-size: 70%;
    background-color: white;
    border-radius: 0 0 20px 20px;
    box-shadow: 2px 2px 20px;
    border-bottom: 2px solid rgb(61, 61, 61);
    border-right: 2px solid rgb(61, 61, 61);
}

.card-high iframe{
   height: 250px;
}

.card-body-high{
    height: 100px;
    text-align: center;
    padding-top: 5%;
}

.related{
    padding-bottom: 2%;
    background-color: rgb(241, 241, 241);
}

.related h1{
    padding-left: 2%;
}

.grid-related{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 2%;
    margin: 2% 2% 5% 2%;
}

.grid-rel-fila{
    display: flex;
    justify-content: center;
    gap: 4%;
}

.video-f1{
    background-color: white;
    width: 30%;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 0 0 20px 20px;
}

.video-f1 a{
    text-decoration: none;
}

.img-video-f1{
    width: 100%;
    height: 100%; 
}

.video-play{
    display: inline-block;
    position: relative;
    width: 100%;
}
.bi-play-fill{
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0;
    background-color: red;
    color: white;
    height: 40px;
    width: 50px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}

.text-video{
    text-decoration: none;
    color: black;
    padding: 3%;
    text-align: start;
}

/* Footer */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.iconos{  
    position: relative;
    margin: 0;
    bottom: 0;
    right: 0;
    width: 280px;
}

.derechos{
    font-size: small; 
    padding-top: 3.5%;
    position: relative;
    left: 5%;
    bottom: 0;
    color: white;
}

.iconos a{
    text-decoration: none;
}

.iconos i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;    
    background-color: transparent;
    border: 4px solid white;
    border-radius: 50%;
    font-size: 25px;
    color: white;
}

.f1-icon{
    position: relative;
    left: 0;
    bottom: 0;
    height: 56px;
    width: 100px;
    
}

    /* Equipo */


.equipos-grid{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 2%;
    margin-top: 50px;
    margin-bottom: 15%;
}

.filas-equipos{
    padding: 0 10% 0 10%;
    display: flex;
    justify-content: center;
    gap: 4%;
}

.equipo-auto{
    border-radius: 0 5px 0 0;
    border-top: 3px solid black;
    border-right: 3px solid black;
    width: 1fr;
}

.teamates{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2%;
}

.teamate1{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-radius: 0 0 20px 0;
    width: 100%;
}

.auto-f1{
    position: relative;
    left: 25%;
}

.teamate2{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-radius: 0 0 20px 0;
    width: 100%;
    margin-right: 2%;
}

.equipos-grid hr{
    width: 95%;
    margin: 2%;
}

.cabecera-piloto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2%;
}

.cabecera-piloto div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipo-auto h1{
    font-weight: bold;
    font-size: 380%;
}

.cabecera-piloto h2{
    color: black;
    font-size: 200%;
}


.teamate1 h4{
    color: rgba(0, 0, 0, 0.493);
    font-size: 100%;
}

.teamate1 h3{
    font-weight: bold;
    color: black;
    font-size: 130%;
    margin: 0;
}

.teamate2 h4{
    color: rgba(0, 0, 0, 0.493);
    font-size: 100%;
}

.teamate2 h3{
    color: black;
    font-weight: bold;
    font-size: 130%;
    margin: 0;
}

.equipo-auto {
    color: rgba(0, 0, 0, 0.493);
    font-size: 100%;
    width: 150%;
}

.num-piloto{
    color: red;
    font-size: 50px;
    margin: 0; 
}

@media screen and (max-width:575px){


.f1-icon-m{
    display: block;
    height: 50px;
    margin-right:8% ;
}
 

/* Main */

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contenedor-grid{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40% 20% 20% 20%;
    grid-template-areas: 
    "newvid newvid"
    "colvid1 colvid2"
    "colvid1 colvid2"
    "colvid1 colvid2"
    "morenews morenews";
    gap: 2%;
    /* padding-bottom: 40px; */
}

.newvid{
    border-right: 0;
    border-radius: 25px 25px 0 0;
    margin-bottom: 65%;
    gap: 0;
    justify-content: start;
}
.colvid1{
    margin-left: 0;
    margin-right: 3%;
    padding: 0;
    gap: 2%;
    justify-content: start;
}

.colvid2{
    margin-left: 3%;
    margin-right: 0;
    padding: 0;
    gap: 2%;
    justify-content: start;
}

.colvid1 .card{
    height: 280px;
}

.colvid2 .card{
    height: 280px;
}

.morenews{
    margin-top: -25%;
    display: flex;
    flex-direction: column;
}
    
/* Footer */

footer{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: black;

}

.derechos{
    position: relative;
    left: 0;
    color: white;
    padding: 0;
    font-size: 8px;
}

.f1-icon{
    display: none;
}

.iconos i{
    position: relative;
    right: 0;
    color: white;
    border: white;
}

.contmorenew{
    display: none;
}
.carousel{
    display: block;
    margin: 4% 10% 2% 10%;
    border: 4px solid black;
    border-radius: 5% 5% 5% 5%;
}

.carousel img{
    border-radius: 5% 5% 5% 5%;
}

}

@media screen and (max-width:1075px){

.auto-f1{
    left: 5%;
}

}

@media screen and (max-width:750px){

.filas-equipos{
    display: flex;
    flex-direction: column;
    margin: 0% 9% 0 2%;
    padding: 0 25% 2% 2%;
    gap: 2%;
}

.equipos-grid{
    gap: 0;
    padding: 0;
}

}