@import "variables";

.contitulo{
    border-top: 5px solid black ;
    border-right: 5px solid black ;
    border-radius: 0 5px 0 0;
    margin: 2% 5% 0 5%;
    padding-top: 1%;

    div{
        width: 100%;
        background-color: rgb(182, 182, 182);
        padding: 0.5%;
        text-align: center;
        border-radius: 7px;
    }
}

.equipos-grid{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 2%;
    margin-top: 50px;
    margin-bottom: 15%;
    
    hr{
        width: 95%;
        margin: 2%;
    }

    .filas-equipos{
        padding: 0 10% 0 10%;
        display: flex;
        justify-content: center;
        gap: 4%;
    
        .equipo-auto{
            border-radius: 0 5px 0 0;
            border-top: 3px solid black;
            border-right: 3px solid black;
            color: rgba(0, 0, 0, 0.493);
            font-size: 100%;
            width: 150%;
            
            .cabecera-piloto{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-right: 2%;

                h1{
                    font-weight: bold;
                    font-size: 380%;
                }

                div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    
                    h2{
                        color: black;
                        font-size: 200%;
                    }

                    .bg-black{
                        background-color: black;
                        border-radius: 10px;
                        color: white;
                        margin: 0;
                    }
                }
            }
            
            .nombre-piloto{
                display: flex;
                align-items: center;
                border-left: 5px solid blue;
                justify-content: space-between;
                
                .nombre-p{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-left: 2%;
                    min-width: 190px;
                }

                img{
                    width: 18%;
                    padding-right: 2%;
                }
            }
        
            .nombres-equipo{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .teamates{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    gap: 2%;
                
                    .teamate1{
                        border-bottom: 1px solid black;
                        border-right: 1px solid black;
                        border-radius: 0 0 20px 0;
                        width: 100%;
    
                        h4{
                            color: rgba(0, 0, 0, 0.493);
                            font-size: 100%;
                        }
    
                        h3{
                            font-weight: bold;
                            color: black;
                            font-size: 130%;
                            margin: 0;
                        }
                    }
    
                    .teamate2{
                        border-bottom: 1px solid black;
                        border-right: 1px solid black;
                        border-radius: 0 0 20px 0;
                        width: 100%;
                        margin-right: 2%;
    
                        h4{
                            color: rgba(0, 0, 0, 0.493);
                            font-size: 100%;
                        }
    
                        h3{
                            color: black;
                            font-weight: bold;
                            font-size: 130%;
                            margin: 0;
                        }
                    }
                }
            }
            

                  
        }        
    }

}

body{
    @include media-query(mobile){
        main{
        
            .equipos-grid{
                gap: 0;
                padding: 0;
                
                .filas-equipos{        
                    flex-direction: column;
                    align-items: center;
                    gap: 2%;

                    .equipo-auto{
                        width:100%;
                    }
                }
            }
        }
    }
      
}